@font-face {
    font-family: 'FiraSans-Medium';
    src: url('../fonts/FiraSans-Medium.otf');
    }
html{
    width:100%;
    height: 100%;
}

body{
    width:100%;
    height: 100%;
    background-color: white;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.words{
    width: 245px;
}
.auto{
    text-align: center;
}
.welcome-logo{
    width:60%;
}
.container-control{
    margin-top:180px;
}
.mob{
    display: none;
}
.desk{
    display: block;
}
ul li{
    font-family: 'FiraSans-Medium';
    font-size: 20px;
}
.begin{
    width:130px;
    font-size: 18px;
    background: #00943a;
    margin-top:10px;
}

@media (min-width:100px) and (max-width:500px){
    body{

        background-image: url(../images/background.png);
    }
    .desk{
        display: none;
    }
    .mob{
        display: block;
    }
    .container-control{
        margin-top:45px;
    }
   }